.completecode{
    width: 100vw;
    height: 100vh;
    background-color: #F8FAFD;
    padding: 4vh;
    font-family: Mulish;
}

h1{
    font-size: 250%;
    font-weight: 900;
}

.para{
    border-left: solid 2px #315680;
    font-family: Open Sans;
    font-weight: 400;
    padding: 2vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
 
.checkcard{
    width: 90vw;
    margin-top: 2vh;
    padding: 5%;
    /* display: flex; */
    justify-content: space-between;

}
 
.carddesg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head{
    font-size: 160%;
    font-weight: 800;
}

input{
    /* width: 100%; */
    border: none;
    border-bottom: solid 1px #DFEAF5;
    font-size: 150%;
    /* margin-right: 10px; */
}

input:focus-visible{
    width: 100%;
    border: black;
    border-bottom: solid 1px #DFEAF5;
    margin-right: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.guest_search{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.dropdownMenu{
    width: 100%;
    display: flex;
    border: none;
    border-bottom: 1px solid #DFEAF5;
    background-color: #fff;
    font-size: 130%;
}

.typecount{
    margin-left: 2%;
}

.search{
    height: 15%;
    padding: 2% 12%;
    background-color: #315680;
    /* width: 40%; */
    border: none;
    border-radius: 1vh;
    color: #fff;
    font-family: Mulish;
    font-weight: 800;
    font-size: 150%;
}

.listitem1{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

i{
    margin-top: 2%;
    margin-right: -2%;
    color: #315680;
}

/* .guests{
    width: 100%;
} */

.listitem2{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.guestType{
    font-size: 136%;
    font-weight: 800;
}

.dropdownbtn{
    /* width: 100%; */
    /* margin-right: 2%; */
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #315680;
    border-radius: 20%;
}

.incDecbtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

.count{
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width:428px){
    form{
        display: block;
        justify-content: center;
        align-items: center;
    }

    input{
        width: 100%;
        margin-bottom: 5vh;
    }

    .guest_search{
        margin-top: -5vh;
        display: block;
        justify-content: space-evenly;
        align-items: center; 
    }

    .search{
        width: 100%;
        margin:5vh 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .guests{
        width: 100%;
        display: block;
        justify-content: space-between;
        align-items: center;
    } */

    .dropdownMenu{
        width: 100%;
        display: flex;
        border: none;
        border-bottom: 1px solid #DFEAF5;
        background-color: #fff;
    }
}